footer{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 227, 227);
}
img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
}
@media  (min-width: 375px){
    footer{
        height: 20vh;
        display: flex;
        justify-content: space-around;
        background-color: rgb(228, 227, 227);
    }
    img{
        height: 50px;
        width: 50px;
        margin-top: 50px;
        margin-left: 25px;
    }
}